<section class="relative">
  <div class="max-w-4xl w-full mx-auto mt-28">
       <span class="badge bg-slate-700 text-white px-4 py-2 rounded-md"
      >Informate</span
    >

        <h1 class="condiciones__h1 font-semibold text-4xl mb-4 mt-2">
      Politicas de privacidad
    </h1>

    <p class="mb-4">
      Le informamos que en cumplimiento a la Ley Federal de Protección de Datos Personales en Posesión  de los Particulares (Ley Federal), Recarga5g.com (marca propiedad de Recargas Electrónicas, S.A. de C.V.), con domicilio en Eje Central Lázaro Cárdenas, Número 55, Colonia Cuauhtémoc, CDMX, C.P. 06010. Está comprometido con la protección de los datos proporcionados por sus clientes y proveedores, ponemos a su disposición el presente Aviso de Privacidad a efecto de que, ejerciendo el principio de información, conozca las finalidades, así como los datos que serán recabados por parte de recarga5g.com, a través de sus representantes.
    </p>

    <p class="mb-4">
      Para la protección de los datos personales proporcionados por el Titular podrá contactar para ejercer cualquiera de sus derechos de acceso, rectificación, cancelación y oposición (ARCO) a los siguientes datos:
    </p>

    <p class="mb-4">Domicilio: Eje Central Lázaro Cárdenas, Número 55, Colonia Cuauhtémoc, CDMX, C.P. 06010.</p>

    <p class="mb-4">
      Correo Electrónico: ventas&#64;recarga5g.com
    </p>

    <p class="mb-4">
      Telefono: +52 2717140102
    </p>

    <h2 class="font-semibold text-3xl mb-4">Para clientes y Distribuidores</h2>

    <p class="mb-4">
      Sus datos personales serán tratados únicamente por el tiempo necesario dictado por los ordenamientos legales aplicables a fin de cumplir con las finalidades descritas en el presente Aviso de Privacidad.
    </p>

    <p class="mb-4">
      Para las finalidades señaladas el presente aviso de privacidad, podemos recabar sus datos personales cuando usted nos los proporciona directamente en nuestro establecimiento o por medio de correo electrónico o por medio de la plataforma informática PAGAQUI o mediante nuestros asesores o ejecutivos comerciales.
    </p>

    <p class="font-semibold mb-4">Adicionalmente su información podrá ser utilizada para:</p>

    <ol class="list-decimal pl-8">
      <li class="pb-2">
        Registrar su cuenta en nuestro sistema.
      </li>

      <li class="pb-2">
         Comunicarle vía telefónica, correo electrónico, SMS, RCS, mensaje de texto, WhatsApp, etc. información actualizada sobre nuevos servicios, productos y beneficios de los servicios prestados.
      </li>
    
      <li class="pb-2">
        Comunicarse con usted por vía telefónica, correo electrónico, SMS, RCS, mensaje de texto, WhatsApp, etc. acerca de productos y servicios que de acuerdo a su perfil de cliente puedan interesarle.
      </li>

      <li class="pb-2">
        Ayudarlo a completar alguna transacción o solicitud de un producto o servicio.
      </li>

      <li class="pb-2">
         Detectar y evitar amenazas a la seguridad, comportamientos fraudulentos u otras actividades maliciosas que pudieran afectar al titular o a la responsable de los datos.
      </li>

      <li class="pb-2">
        Ponerse en contacto con el titular para ofrecer y mejorar el servicio y la asistencia técnica.
      </li>

      <li class="pb-2">
        Ofrecer e informar de promociones vía telefónica, correo electrónico, SMS, RCS, mensaje de texto, WhatsApp, etc.
      </li>

      <li class="pb-2">
         Permitirle participar en concursos y encuestas relacionadas con los servicios o productos que contrató.
      </li>

      <li class="pb-2">
         Investigaciones de cualquier índole relativa a la prospección que como cliente se pueda hacer del titular de los datos personales.
      </li>

      <li class="pb-2">
        Elaborar estudios, campañas publicitarias o de mercadotecnia, programas y estadísticas que son necesarios para determinar la preferencia de nuestros servicios y hábitos de consumo de los usuarios y para ofertar nuestros productos y servicios a nuestros clientes.
      </li>

      <li class="pb-2">
        La evaluación, análisis, uso, manejo, aprovechamiento, transferencia, disposición, divulgación, acceso y almacenamiento por cualquier medio de los datos personales proporcionados a través de cualquier instrumento jurídico, o manifestación verbal o expresa de la voluntad, incluida la interacción efectuada a través de este sitio web.
      </li>
    </ol>

    <h3 class="font-semibold text-2xl my-4">Datos personales recopilados</h3>
    <p class="mb-4">
      Para las finalidades señaladas en presente Aviso de Privacidad, recabamos sus datos personales de forma directa cuando usted mismo nos los proporciona al solicitar nuestros servicios, cuando se registra como cliente nuevo, cuando celebramos contratos y cuando nos da información con objeto que le extendamos la factura correspondiente.
    </p>

    <p>
      Los datos que obtenemos por este medio pueden ser, entre otros:
    </p>

    <ol class="list-decimal pl-8">
     <li class="py-2 font-semibold">
        Nombre
     </li>
     <li class="py-2 font-semibold">
      Domicilio
     </li>
     <li class="py-2 font-semibold">
      Teléfono
     </li>
     <li class="py-2 font-semibold">
      Correo Electrónico
     </li>
    </ol>

    <h3 class="font-semibold text-3xl my-4">
      Derechos ARCO
    </h3>

    <p>
      Usted tiene el derecho de acceder a sus datos personales en nuestro poder y conocer los detalles del tratamiento de estos, así como a rectificarlos en caso de ser inexactos o incompletos, cancelarlos cuando considere que no se requieren para alguna de las finalidades señaladas en el presente Aviso de Privacidad, estén siendo utilizados para finalidades no consentidas o haya finalizado la relación contractual.
    </p>

    <h3 class="font-semibold text-2xl my-4">
      Ejercicio de Derechos ARCO
    </h3>

    <p>De acuerdo con la Ley Federal usted posee el derecho de acceder, rectificar, cancelar u oponerse al tratamiento de sus datos personales en cualquier, momento, por lo que ponemos a su disposición las siguientes alternativas para ejercitar el derecho que le asiste como titular de sus datos personales.</p>
  
    <ol class="list-decimal pl-8">
      <li class="py-2">
        Presentando su solicitud, directamente en nuestras oficinas, dirigida al personal asignado para la Protección de Datos Personales, mediante la cual nos haga manifiesta su decisión de ejercer cualquiera de los derechos ARCO sobre los datos personales en posesión PAGAQUI, la cual debe venir firmada por usted o de su representante legal, acompañada de su identificación oficial y en su caso de su instrumento legal que acredita su representación.
      </li>

      <li class="py-2">
        A través del siguiente correo electrónico <strong>ventas&#64;recarga5g.com</strong>
      </li>
    </ol>

    <p>
      Para el ejercicio de su derecho ARCO, una vez presentada su solicitud y acusada de recibido por nuestro personal de Protección de Datos Personales, le será contestado en un término máximo de 48 horas a partir de la recepción de su solicitud.
    </p>

    <h4 class="font-semibold text-xl my-4">Modificaciones y Actualizaciones de Privacidad</h4>

    <p class="mb-4">
      <span class="font-semibold">recarga5g.com</span>, se reserva el derecho de efectuar en cualquier momento modificaciones y actualizaciones al presente Aviso de Privacidad, para la atención de novedades legislativas políticas internas, o nuevos requerimientos para la prestación u ofrecimiento de nuestros servicios, para lo cual nos comprometemos a mantenerlo informado de tal situación a través de comunicados internos que se desplegarán al interior de nuestras oficinas o bien, mediante el envío de correo electrónico.
    </p>

    <p>
      Nos comprometemos a que los mismos serán tratados bajo las más estrictas medidas de seguridad que garanticen su confidencialidad.
    </p>

    <h4 class="font-semibold text-xl my-4">
      Recarga5g es una marca registrada
    </h4>

    <p class="mb-4"> <strong>Recargas Electrónicas</strong> es propietario de la marca <strong>Recarga5g</strong>, la cual esta registrada ante el Institulo Mexicano de la Propiedad Industrial (IMPI)</p>

    <p class="mb-4">
      Queda prohibido el uso de la marca, nombre, logo o similares con fines comerciales o de lucro sin el consentimiento por escrito de Recargas Electrónicas.
    </p>
  </div>
</section>