<section class="relative max-w-4xl w-full mx-auto mt-10 px-4 sm:px-6 lg:px-8 overflow-hidden">
  <!-- circles -->
  <div class="-translate-x-1/2 absolute left-1/4 top-42 pointer-events-none -z-1">
    <div class="opacity-30 rounded-full size-62 bg-gradient-to-tr from-indigo-500 to-blue-500 blur-[160px] ml-[580px]"></div>
  </div>
  <!--  -->
  <div class="condiciones__container max-w-4xl w-full mt-28 mx-auto">
    <span class="badge bg-slate-700 text-white px-4 py-2 rounded-md"
      >Informate</span
    >
    <h1 class="condiciones__h1 font-semibold text-3xl lg:text-4xl mb-4 mt-2">
      Terminos y condiciones
    </h1>

    <h2 class="text-2xl font-semibold">Para tu información</h2>
    <p>
      El presente Aviso Legal (en adelante, el "Aviso Legal") establece los
      términos y condiciones respecto al uso del portal
      <strong>Recarga5g.com</strong> por todos sus medios de acceso. La
      utilización del portal le atribuye a Ud. la condición de usuario del
      portal (en adelante, el ("Usuario") e implica la aceptación plena y sin
      reservas de todas y cada una de las disposiciones incluidas en este Aviso
      Legal en la versión publicada por <strong>Recarga5g.com</strong> en el
      momento mismo en que el Usuario accede al portal. En consecuencia, el
      Usuario debe leer el presente Aviso Legal en las actualizaciones que
      informara <strong>Recarga5g.com</strong>, ya que puede sufrir
      modificaciones.
    </p>

    <h3 class="font-semibold text-2xl mt-4">1.- Convenio</h3>

    <p class="mt-4">
      Convenio de adhesión para el uso de la página de Internet
      <span class="font-semibold">Recarga5g.com</span> que celebran: por una
      parte, <span class="font-semibold">Recarga5g.com</span> y, por la otra, el
      usuario, sujetándose, ambas partes, a lo establecido en este documento.
    </p>

    <h4 class="font-semibold text-2xl mt-4">2.- Servicios Ofrecidos</h4>
    <p class="mt-4">
      <span class="font-semibold">Recarga5g.com</span> Ofrece los siguientes
      servicios
    </p>

    <ol class="list-decimal pl-8 mt-4">
      <li>
        <span class="font-semibold">Venta de recargas electrónicas</span> para
        diferentes operadores de telefonía móvil.
      </li>

      <li class="pt-2">
        Pago de servicios (luz, agua, cable, internet, etc.).
      </li>

      <li class="pt-2">Generación y venta de pines electrónicos.</li>

      <li class="pt-2">Comercialización de Terminales Punto de Venta.</li>
    </ol>

    <h4 class="text-2xl font-semibold mt-4">
      3.- Derechos autor y propiedad industrial
    </h4>

    <p class="mt-4">
      La propiedad intelectual e industrial, marcas comerciales, gráficos,
      imágenes, logotipos, información e iconos visibles en el portal
      <span class="font-semibold">Recarga5g.com</span> son de propiedad
      exclusiva de <span class="font-semibold">Recargas Electrónicas</span>.
      Todo el contenido y su formato están protegidos por las leyes vigentes.
    </p>

    <p class="mt-4">
      Se prohíbe expresamente al usuario modificar, alterar o suprimir, ya sea
      en forma total o parcial, los avisos, marcas, nombres comerciales, señas,
      anuncios, logotipos o en general cualquier indicación que se refiera a la
      propiedad de la información contenida en el sitio señalado.
    </p>

    <h4 class="font-semibold text-2xl mt-4">
      4.- Claves de acceso y número confidenciales
    </h4>

    <p class="mt-4">
      En todo momento, el usuario es el responsable único y final de mantener en
      secreto la identificación de su usuario, contraseñas personales, claves de
      acceso y otros datos confidenciales con los cuales tenga acceso a los
      Servicios y Contenidos del Portal.
    </p>

    <h4 class="font-semibold text-2xl mt-4">5.- Transacciones y Pagos</h4>

    <p class="mt-4">
      Como usuario y cliente de la página:
      <span class="font-semibold">Pagaqui</span>,
      <span class="font-semibold">Planetaemx</span> y
      <span class="font-semibold">Recarga5g.com</span>. No aplican ni realizan
      algun tipo de devolución o reembolso. en ningun de los siguientes casos:
    </p>

    <ol class="pl-8 mt-4 list-decimal">
      <li>
        En las compras de saldo realizadas en las diferentes instituciones
        bancarias señalas en esta página.
      </li>

      <li class="pt-2">
        En las ventas EXITOSAS realizadas a través de esta página.
      </li>

      <li class="pt-2">
        Cualquier tipo de depósito o transferencia realizado a nuestras cuentas
        por error.
      </li>
    </ol>

    <p class="mt-4">
      La solicitud de pagos no reportados en tiempo y forma serán aceptadas de
      acuerdo a los siguientes términos:
    </p>

    <ul class="mt-4 pl-8 list-disc">
      <li>
        Ser cliente inscrito de
        <span class="font-semibold">recarga5g.com</span> o
        <span class="font-semibold">Recargas Electrónicas</span>
      </li>

      <li class="pt-2">
        Conservar el comprobante o ticket de pago. (A algunas de nuestras
        cuentas bancarias).
      </li>

      <li class="pt-2">
        No tenér más de 30 días naturales de haber realizado el depósito.
      </li>

      <li class="pt-2">
        Se recibiran pagos del mes anterior en 15 días habiles en el mes
        entrante.
      </li>
    </ul>

    <p class="mt-4">
      En caso de cumplir con las especificaciones y requisitos mencionados
      deberá enviar ya sea a nuestro WhatsApp, correo o directo de nuestra
      pagina web, donde adjuntara la imagen del comprobante o ticket de pago e
      indicando su usuario.
    </p>

    <h4 class="font-semibold text-2xl mt-4">
      6.- Condiciones de aplicación de pagos
    </h4>

    <p class="mt-4">
      <span class="font-semibold">Recarga5g.com</span> solo procesará depósitos
      y transferencias bajo las siguientes condiciones:
    </p>

    <ul class="mt-4 list-disc pl-8">
      <li>
        Depósito o transferencia inicial para vender tiempo aire y paquetes debe
        ser de al menos $100.00 MXN en las cuentas bancarias autorizadas.
      </li>

      <li class="pt-2">
        Transferencias para vender tiempo aire o algun otro servicio el monto
        maximo debe ser menor o igual a
        <span class="font-semibold">$1,900.00 MXN</span>. Montos mayores al
        señalado se procederá con la devolución de fondos en un lapso de 30 días
        habiles, entregaron la documentación requerida.
      </li>

      <li class="pt-2">
        Depósito o transferencia
        <span class="font-semibold">con referencia</span> mínima para iniciar a
        vender tiempo aire y paquetes es de
        <span class="font-semibold">$200.00 MXN</span> a las cuentas bancarias
        correspondientes.
      </li>

      <li class="pt-2">
        Los pagos con cheques depositados a un banco diferente del emisor,
        denominado por el banco como "salvo buen cobro", se aplicarán una vez
        que el banco emisor libere el cheque.
      </li>
    </ul>

    <h4 class="font-semibold text-2xl mt-4">
      7. Limitación de Responsabilidad
    </h4>

    <p class="mt-4">
      <span class="font-semibold">Recarga5g.com</span> no se hace responsable
      por fallas en los servicios de terceros (operadores telefónicos, compañías
      de luz, etc.).
    </p>

    <p class="mt-4">
      El sistema no valida que se ingrese la referencia correcta, es por ello
      que es responsabilidad del usuario ingresar los datos correctos, ya que al
      registrar el pago del servicio no hay ningún tipo de devolución de dinero.
    </p>

    <h4 class="font-semibold text-2xl mt-4">
      8.- Modificaciones al portal Recarga5g.com
    </h4>

    <p class="mt-4">
      <span class="font-semibold">Recarga5g.com</span> podrá en cualquier
      momento y cuando lo considere conveniente, sin necesidad de avisar al
      usuario, realizar correcciones, adiciones, mejoras o modificaciones al
      contenido, presentación, información, servicios, áreas, bases de datos y
      demás elementos de dicho sitio, sin que ello de lugar ni derecho a ninguna
      reclamación o indemnización, ni que esto implique reconocimiento de
      responsabilidad alguna a favor del usuario.
    </p>

    <h4 class="font-semibold text-2xl mt-4">9.- Modificaciones al convenio</h4>

    <p class="mt-4">
      <span class="font-semibold">recarga5g.com</span> se reserva el derecho de
      modificar los Términos y Condiciones de uso de este convenio en cualquier
      momento, siendo efectivas dichas modificaciones de forma inmediata por
      medio de:
    </p>

    <ul class="pl-8 list-[lower-alpha] mt-4">
      <li>
        La publicación en el sitio web
        <span class="font-semibold">recarga5g.com</span> del convenio
        modificado.
      </li>
      <li class="pt-2">
        La notificación al usuario sobre dichas modificaciones.
      </li>
    </ul>

    <p class="mt-4">
      De esta forma, el usuario está de acuerdo en revisar dicho convenio
      periódicamente con la finalidad de mantenerse al tanto de dichas
      modificaciones. No obstante lo anterior, cada vez que el usuario acceda al
      sitio señalado se considerará como una aceptación absoluta a las
      modificaciones del presente convenio.
    </p>

    <h4 class="font-semibold text-2xl mt-4">
      10.- Leyes aplicables y Jurisdicción
    </h4>

    <p class="pt-2">
      Para la interpretación, cumplimiento y ejecución del presente Contrato,
      las partes están de acuerdo en que serán aplicables las leyes Federales de
      los Estados Unidos Mexicanos y competentes los tribunales de la Ciudad de
      México, renunciando expresamente a cualquier otro fuero o jurisdicción que
      pudiera corresponderles en razón de sus domicilios presentes o futuros.
    </p>

    <picture class="condiciones__picture">
      <img
        src="/assets/img/svg/condiciones.svg"
        class="condiciones__img mt-8"
        width="650"
        height="250"
        loading="lazy"
        alt="Recarga5g.com | Términos"
      />
    </picture>
  </div>
</section>
