<section class="banner-plataformas animate-slide-in-bottom">
  <div
    class="banner-plataformas__container container flex items-center justify-center mx-auto mt-20 pt-4 shadow rounded-lg">

    <picture>
      <source media="(min-width:1536px)"
        [srcset]="isDarkTheme() ? 'assets/img/producto-terminales-web_dark.webp' : 'assets/img/producto-terminales-web_light.webp'"
        type="image/webp">

      <source media="(min-width:340px)"
        [srcset]="isDarkTheme() ? 'assets/img/producto-terminales-mobile_dark.webp' : 'assets/img/producto-terminales-mobile_light.webp'"
        type="image/webp">

      <img width="1539" height="385" alt="Pagaqui plataforma para la venta de recargas electrónicas para negocios"
        title="Pagaqui plataforma para vender recargas para todo tipo de negocio"
        [src]="isDarkTheme() ? 'assets/img/producto-terminales-web_dark.webp' : 'assets/img/producto-terminales-web_light.webp'"
        class="banner-plataform w-full h-auto">
    </picture>

  </div>
</section>

<section data-aos="zoom-in-up" class="my-20">
  <div class="container mx-auto px-5 sm:px-6 lg:px-8 relative">
    
    <div class="section-title row w-full lg:max-w-4xl mx-auto mb-8">

      <div class="flex items-center lg:justify-center">
        <div
          class="font-medium text-sm py-[0.375rem] px-4 rounded-md bg-slate-800 dark:bg-slate-700 text-slate-100 shadow-sm inline-flex items-center gap-2 mb-2">

          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6"
            viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09Zm8.446-7.189L18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456Zm-1.365 11.852L16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z" />
          </svg>

          <span>
            Precios de oferta
          </span>

        </div>
      </div>
      <h1 class="text-4xl lg:text-5xl lg:text-center font-semibold  bg-clip-text text-transparent bg-gradient-to-r from-primary to-rose-600 dark:from-gray-300 dark:to-indigo-600 lg:leading-[1.1]">
        Adquiere hoy mismo la mejor terminal para tu negocio
      </h1>
      <p class="lg:text-center mt-4">
        Con nuestras <strong>Terminal Punto de Venta (TPV)</strong>
        puedes aceptar pagos con tarjetas de débito y crédito de manera rápida, segura y eficiente. Ya no tendrás que
        preocuparte por perder ventas debido a la falta de opciones de pago: nuestras terminales están diseñadas para
        adaptarse a cualquier tipo de negocio, ya sea una tienda física, un restaurante o un servicio móvil.
      </p>
    </div>

    <div
      class="flex items-center py-8 justify-center mt-8 relative bg-gray-100/50 before:absolute before:inset-0 before:scale-x-110 before:border-y before:border-gray-200 after:absolute after:inset-0 after:scale-y-110 after:border-x after:border-gray-200 dark:bg-gray-800 dark:before:border-gray-700 dark:after:border-gray-700">

      <div class="bg-shape-wrapper absolute inset-0 top-60 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-30 pointer-events-none z-[1]"
      aria-hidden="true">
      <div class="bg-shape h-24 bg-gradient-to-br from-violet-500 to-sky-500 blur-[160px] dark:from-blue-700"></div>
      <div class="bg-shape h-24 bg-gradient-to-r from-purple-400 to-blue-300 blur-[160px] dark:to-indigo-600"></div>
    </div>

      <img src="assets/img/banner-terminales.webp" class="mx-auto" alt="Terminales para punto de venta">
    </div>
    <div class="platform  lg:mt-20">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-12 mt-6 lg:mt-8">

        <article class="platform-col relative p-6">
          <div class="platform-info flex items-center gap-2 mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z" />
            </svg>

            <h5 class="text-lg font-semibold">
              Cobra cualquier tarjeta de debito y credito
            </h5>
          </div>
          <p>
            Acepta todos tus pagos de cualquier tarjeta débito, crédito, váles y wallets.
          </p>
        </article>

        <article
          class="platform-col relative p-6 before:absolute before:content-[''] before:-start-[1px] before:bg-gray-300 before:dark:bg-gray-600/60">
          <div class="platform-info flex items-center gap-2 mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
            </svg>
            <h5 class="text-lg font-semibold">
              Haz crecer tu negocio con nuestras terminales
            </h5>
          </div>
          <p>
            Crea facilmente todos empleados y asignales un permiso especifico
          </p>
        </article>

        <article
          class="platform-col relative p-6 before:absolute before:content-[''] before:-start-[1px] before:bg-gray-300 before:dark:bg-gray-600/60">
          <div class="platform-info flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z" />
            </svg>
            <h5 class="text-lg font-semibold">Terminales contactless</h5>
          </div>
          <p>
            Realiza cualquier cobro de recarga, pago de servicio o tarjeta de
            regalo desde la terminal
          </p>
        </article>

        <article
          class="platform-col relative p-6 after:absolute after:content-[''] after:start-0 after:bg-gray-300 after:dark:bg-gray-600/60">
          <div class="platform-info flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-8">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 6v12m-3-2.818.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>

            <h5 class="text-lg font-semibold">Obten ganancias atractivas con nuestras terminales</h5>
          </div>
          <p>
            Realiza tu depósito y/o transferencia con numero de referencia y
            obten de manera automatica tu saldo
          </p>
        </article>

        <article
          class="platform-col p-6 before:absolute before:content-[''] before:-start-[1px] before:bg-gray-300 before:dark:bg-gray-600/60 after:absolute after:content-[''] after:start-0 after:bg-gray-300 after:dark:bg-gray-600/60">
          <div class="platform-info flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
            </svg>
            <h5 class="text-lg font-semibold">
              Dinero disponible al siguiente día
            </h5>
          </div>
          <p>
            Por cada venta que realices obtendras de manera automatica una
            comisión extra
          </p>
        </article>

        <article
          class="platform-col p-6 before:absolute before:content-[''] before:-start-[1px] before:bg-gray-300 before:dark:bg-gray-600/60 after:absolute after:content-[''] after:start-0 after:bg-gray-300 after:dark:bg-gray-600/60">
          <div class="platform-info flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z" />
            </svg>
            <h5 class="text-lg font-semibold">
              Ofrece meses sin intereses con nuestras terminales
            </h5>
          </div>
          <p>
            Por cada venta que realices obtendras de manera automatica una
            comisión extra
          </p>
        </article>
      </div>
    </div>

  </div>
</section>

<section data-aos="fade-right" class="mb-20">
  <div class="container mx-auto px-5 sm:px-6 lg:px-8 relative">
    <div class="circle-shape-wrapper -z-10 absolute bottom-1/3 right-1/3 pointer-events-none" aria-hidden="true">
      <div
        class="circle-shape blur-[120px] opacity-25 bg-gradient-to-br from-blue-500 to-indigo-500 rounded-full size-80">
      </div>
    </div>
    <div class="row flex flex-col lg:flex-row gap-8">
     
      <div class="col w-full lg:w-1/2 order-2 lg:order-1">
        <img src="assets/img/terminales- negocios.webp"  alt="Acepta todos los pagos con tarjeta de credito y debito">
      </div>
      
      <div class="col w-full lg:w-1/2 order-1 lg:order-2">
        <div
          class="font-medium text-sm py-[0.375rem] px-4 rounded-md bg-slate-800 dark:bg-slate-700 text-slate-100 shadow-sm inline-flex items-center gap-2 mb-2">

          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6"
            viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09Zm8.446-7.189L18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456Zm-1.365 11.852L16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z" />
          </svg>

          <span>
            Fácil, rápido y seguro
          </span>

        </div>
        <h2 class="text-4xl  bg-clip-text text-transparent bg-gradient-to-r from-primary to-rose-600 dark:from-gray-300 dark:to-indigo-600 font-semibold mb-6">Terminales punto de venta - Acepta todos los pagos</h2>
        <p class="mb-4">
          Las terminales punto de venta (TPV), te permiten procesar cualquier pago con tarjeta de credito o debito,
          vales de despensa y wallets.
        </p>

        <p class="mb-4">
          Con nuestras terminales, no solo mejorarás la experiencia de compra de tus clientes, sino que también
          aumentarás tus ventas al ofrecer más opciones de pago. Además, podrás procesar transacciones de manera ágil,
          reduciendo tiempos de espera y optimizando la operación de tu negocio.
        </p>

        <p>
          Moderniza tu negocio y únete a la era de los pagos digitales. Adquiere nuestras terminales punto de venta hoy
          mismo y comienza a aceptar pagos con tarjetas, vales de despensa y wallets digitales de manera segura y
          confiable.
        </p>

        <ul class="flex flex-wrap flex-col md:flex-row items-center mt-4">
          <li class="basis-2/4 my-4 w-full lg:w-2/4 md:pl-3 md:pr-3">
            ✔ Acepta todos las tarjeta debito, credito, vales de despensa y wallets.
          </li>

          <li class="basis-2/4 my-4 w-full lg:w-2/4 md:pl-3 md:pr-3">
            ✔ Dinero disponible al día siguiente habil.
          </li>

          <li class="basis-2/4 my-4 w-full lg:w-2/4 md:pl-3 md:pr-3">
            ✔ Excelentes comisiones desde un 3.5% + IVA.
          </li>

          <li class="basis-2/4 my-4 w-full lg:w-2/4 md:pl-3 md:pr-3">
            ✔ Sin renta mensual, anualidades y sin contratos forzosos.
          </li>

          <li class="basis-2/4 my-4 w-full lg:w-2/4 md:pl-3 md:pr-3">
            ✔ Respaldado y soporte.
          </li>

          <li class="basis-2/4 my-4 w-full lg:w-2/4 md:pl-3 md:pr-3">
            ✔ Plataforma Pagaqui incluida.
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>

<section data-aos="fade-left" class="mb-20">
  <div class="container mx-auto px-5 sm:px-6 lg:px-8 relative">

    <div class="bg-shape-wrapper absolute inset-0 top-60 grid grid-cols-2 -space-x-52 pointer-events-none -z-10"
    aria-hidden="true">
    <div class="bg-shape h-24 bg-gradient-to-br from-violet-500 to-sky-500 blur-[120px] dark:from-pink-700 opacity-25 "></div>
    <div class="bg-shape h-20 bg-gradient-to-r from-purple-400 to-blue-300 blur-[120px] dark:to-indigo-600 opacity-25 "></div>
  </div>

    <div class="row flex flex-col lg:flex-row gap-8">
      <div class="col w-full lg:w-1/2">
        <h3 class="text-4xl font-semibold  bg-clip-text text-transparent bg-gradient-to-r from-primary to-rose-600 dark:from-gray-300 dark:to-indigo-600 mb-4">
          Haz crecer tu negocio con nuestras terminales
        </h3>

        <p class="mb-4">
          Potencia tus ventas y lleva la administración de tu comercio al siguiente nivel con nuestras terminales de
          última generación. Acepta pagos de forma rápida, segura y sin complicaciones, optimiza tu flujo de caja y
          brinda a tus clientes la mejor experiencia de compra.
        </p>

        <p class="mb-4">
          Entendemos que cada transacción representa una oportunidad de crecimiento, por eso ponemos a su disposición
          terminales inteligentes que transformarán la manera en que opera su negocio.
        </p>

        <p class="mb-4">
          Nuestras terminales están diseñadas para adaptarse a cualquier giro comercial, desde pequeños emprendimientos
          hasta grandes empresas, ofreciéndole una solución integral que combina tecnología de vanguardia, facilidad de
          uso y soporte técnico especializado.
        </p>

        <p class="mb-8">
          Miles de emprendedores ya han dado el siguiente paso hacia la innovación. Sea parte de la transformación
          digital y aumente sus ventas con nuestras terminales de última generación.
        </p>

        <a class=" text-center mx-auto max-w-64 block rounded-lg bg-red-700 dark:bg-blue-700 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-red-500/20 dark:shadow-blue-500/20 transition-all hover:shadow-lg focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none"
          href="">Adquirir</a>
      </div>

      <div class="col w-full lg:w-1/2">
        <img title="Adquisición de terminales para negocios" src="assets/img/adquiere-terminal.webp" width="700"
          height="700" alt="Adquisición de terminales para negocios" loading="lazy">
      </div>
    </div>
  </div>
</section>

<section data-aos="zoom-in-up" class="bg-gradient-to-br from-red-700 to-red-900 dark:from-blue-700 dark:to-blue-900 mb-20">
  <div class="px-4 py-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-14 lg:px-8 lg:py-10">
    <div class="flex flex-col mb-16 sm:text-center sm:mb-0">
      <span class="mb-6 sm:mx-auto">
        <div class="flex items-center justify-center w-12 h-12 rounded-full bg-teal-accent-400">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-10 text-white" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 15.75V18m-7.5-6.75h.008v.008H8.25v-.008Zm0 2.25h.008v.008H8.25V13.5Zm0 2.25h.008v.008H8.25v-.008Zm0 2.25h.008v.008H8.25V18Zm2.498-6.75h.007v.008h-.007v-.008Zm0 2.25h.007v.008h-.007V13.5Zm0 2.25h.007v.008h-.007v-.008Zm0 2.25h.007v.008h-.007V18Zm2.504-6.75h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V13.5Zm0 2.25h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V18Zm2.498-6.75h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V13.5ZM8.25 6h7.5v2.25h-7.5V6ZM12 2.25c-1.892 0-3.758.11-5.593.322C5.307 2.7 4.5 3.65 4.5 4.757V19.5a2.25 2.25 0 0 0 2.25 2.25h10.5a2.25 2.25 0 0 0 2.25-2.25V4.757c0-1.108-.806-2.057-1.907-2.185A48.507 48.507 0 0 0 12 2.25Z"/></svg>
        </div>
      </span>
      <div class="mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
        <h4
          class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-white sm:text-4xl md:mx-auto">
          <span class="relative inline-block">
            <svg viewBox="0 0 52 24" fill="currentColor"
              class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-deep-purple-accent-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
              <defs>
                <pattern id="700c93bf-0068-4e32-aafe-ef5b6a647708" x="0" y="0" width=".135" height=".30">
                  <circle cx="1" cy="1" r=".7"></circle>
                </pattern>
              </defs>
              <rect fill="url(#700c93bf-0068-4e32-aafe-ef5b6a647708)" width="52" height="24"></rect>
            </svg>
            <span class="relative">Elige</span>
          </span>
          La mejor terminal de pago para tu negocio
        </h4>
        <p class="text-base text-indigo-100 md:text-lg">
          Con nuestras terminales, no solo mejorarás la experiencia de compra de tus clientes, sino que también
          aumentarás tus ventas al ofrecer más opciones de pago. Además, podrás procesar transacciones de manera ágil,
          reduciendo tiempos de espera y optimizando la operación de tu negocio.
        </p>
      </div>

      <div>
        <a routerLink="/registro"
          class="inline-flex items-center justify-center h-12 px-6 font-semibold tracking-wide bg-white text-slate-700 transition duration-200 rounded shadow-md hover:text-deep-purple-900 bg-teal-accent-400 hover:bg-deep-purple-accent-100 focus:shadow-outline focus:outline-none">
          registrarme
        </a>
      </div>
    </div>
  </div>
</section>

<section data-aos="fade-up" class="max-w-6xl mx-auto px-5 mb-20 relative">

  <div class="bg-shape-wrapper absolute inset-0 top-60 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-30 pointer-events-none -z-10"
  aria-hidden="true">
  <div class="bg-shape h-24 bg-gradient-to-br from-violet-500 to-sky-500 blur-[120px] dark:from-blue-700"></div>
  <div class="bg-shape h-20 bg-gradient-to-r from-purple-400 to-blue-300 blur-[120px] dark:to-indigo-600"></div>
</div>

  <div class="lg:text-center">
    <h3 class="font-semibold text-3xl">¿Porque nuestras terminales son las mejor opción para ti?</h3>
    <p class="max-w-lg mx-auto mt-2 ">
      Adquiere nuestras terminales punto de venta hoy mismo y comienza a aceptar pagos con tarjetas, vales de despensa y
      wallets digitales de manera segura y confiable.
    </p>
  </div>


  <ul class="grid md:grid-cols-2 gap-10 mt-10">


    <li class="flex gap-4 items-start">
      <span class="text-red-600 dark:text-blue-300 bg-red-500/10 dark:bg-violet-500/10 p-3 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 15.75V18m-7.5-6.75h.008v.008H8.25v-.008Zm0 2.25h.008v.008H8.25V13.5Zm0 2.25h.008v.008H8.25v-.008Zm0 2.25h.008v.008H8.25V18Zm2.498-6.75h.007v.008h-.007v-.008Zm0 2.25h.007v.008h-.007V13.5Zm0 2.25h.007v.008h-.007v-.008Zm0 2.25h.007v.008h-.007V18Zm2.504-6.75h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V13.5Zm0 2.25h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V18Zm2.498-6.75h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V13.5ZM8.25 6h7.5v2.25h-7.5V6ZM12 2.25c-1.892 0-3.758.11-5.593.322C5.307 2.7 4.5 3.65 4.5 4.757V19.5a2.25 2.25 0 0 0 2.25 2.25h10.5a2.25 2.25 0 0 0 2.25-2.25V4.757c0-1.108-.806-2.057-1.907-2.185A48.507 48.507 0 0 0 12 2.25Z"/></svg>
      </span>
      <div>
        <h4 class="font-semibold text-xl">Cobros faciles y rápidos</h4>
        <p class="mt-1">
          Acepte pagos con tarjetas de crédito, débito, vales y pagos móviles (como Apple Pay o Google Pay), brindando
          mayor flexibilidad a sus clientes.
        </p>
      </div>
    </li>

    <li class="flex gap-4 items-start">
      <span class="text-red-600 dark:text-blue-300 bg-red-500/10 dark:bg-violet-500/10 p-3 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="m21 7.5-2.25-1.313M21 7.5v2.25m0-2.25-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3 2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75 2.25-1.313M12 21.75V19.5m0 2.25-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25"/></svg>
      </span>
      <div>
        <h4 class="font-semibold text-xl">Metodo de pago Contactless</h4>
        <p class="mt-1">
          Conexión 4G, WiFi y Bluetooth, para que pueda operar desde cualquier lugar sin interrupciones.
        </p>
      </div>
    </li>

    <li class="flex gap-4 items-start">
      <span class="text-red-600 dark:text-blue-300 bg-red-500/10 dark:bg-violet-500/10 p-3 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"/></svg>
      </span>
      <div>
        <h4 class="font-semibold text-xl">Tu dinero disponible al siguiente día</h4>
        <p class="mt-1">
          La dispersión de tu dinero estará al siguiente día hábil en tu tarjeta PagaquiCard o en cualquier cuenta a tu
          nombre.
        </p>
      </div>
    </li>

    <li class="flex gap-4 items-start">
      <span class="text-red-600 dark:text-blue-300 bg-red-500/10 dark:bg-violet-500/10 p-3 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3a49.5 49.5 0 0 1-4.02-.163 2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155"/></svg>
      </span>
      <div>
        <h3 class="font-semibold text-xl">Soporte 24/7</h3>
        <p class="mt-1">
          Si necesitas ayuda, nuestro equipo está disponible por diferentes medios digitales
        </p>
      </div>
    </li>

    <li class="flex gap-4 items-start">
      <span class="text-red-600 dark:text-blue-300 bg-red-500/10 dark:bg-violet-500/10 p-3 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3v11.25A2.25 2.25 0 0 0 6 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0 1 18 16.5h-2.25m-7.5 0h7.5m-7.5 0-1 3m8.5-3 1 3m0 0 .5 1.5m-.5-1.5h-9.5m0 0-.5 1.5m.75-9 3-3 2.148 2.148A12.061 12.061 0 0 1 16.5 7.605"/></svg>
      </span>
      <div>
        <h3 class="font-semibold text-xl">Comisiones desde un 3.5% + IVA</h3>
        <p class="mt-1">
          Gana atractivas comisiones por vender recargas de tiempo aire,
          pagos de servicios y entretenimiento.
        </p>
      </div>
    </li>

    <li class="flex gap-4 items-start">
      <span class="text-red-600 dark:text-blue-300 bg-red-500/10 dark:bg-violet-500/10 p-3 rounded-full font-semibold">
        MSI
      </span>
      <div>
        <h3 class="font-semibold text-xl">Ofrece meses sin intereses</h3>
        <p class="mt-1"> This templatte is actively maintained by the core plugin team. We are
          working on fixing each of the issues reported.</p>
      </div>
    </li>

  </ul>
</section>

<app-card-product></app-card-product>


<app-doubts 
  title="Ayuda para adquirir terminal para mi negocio"
  text="Si aun tienes alguna duda o comentario acerca nuestras terminales no dudes en contactarnos"
  link="https://api.whatsapp.com/send?phone=5212223239170&text=Hola%20recargas%20electr%C3%B3ncias%20%F0%9F%91%8B%2C%20quiero%20mas%20informaci%C3%B3n%20para%20adquirir%20una%20terminal"
  />