<div class="manuales mb-3">
    <div class="manuales__container container">
        <h2 class="manuales__h2 headline-2">{{manuales.title}}</h2>
        <p class="manuales__p body-1"> <strong class="manuales__strong body-1">Recarga5g.com</strong> pone a tu disposición los siguientes manuales para que conozcas tu plataforma y 
            puedas vender recargas bait y muchos otros más.
        </p>
        <div class="manuales-box">
            
            <div class="manuales-left img-custom">
                <img src="/assets/img/manuales__recargas.png" loading="lazy" class="manuales-left__img" width="350" height="350" alt="Consulta los manuales para que puedas venter recargas con excelentes comisiones">
            </div>

            <div class="manuales-right">
                <span class="manuales__span badge headline-6">Consulta los manuales acerca de tu plataforma</span>
                <h3 class="manuales-right__h3 headline-3">{{manuales.subtitle}}</h3>
               <p class="manuales-right__p body-1">
                    {{manuales.description}}
               </p>

               <div class="manuales-actions mb-2">
              
                <a class="manuales-actions__btn" mat-raised-button color="primary" target="_blank" [href]="manuales.btns[0].url" rel="noopener noreferrer"> 
                    
                    {{manuales.btns[0].titleBtn}}
                    <!-- <mat-icon aria-hidden="false" aria-label="Example icon">{{manuales.btns[0].iconBtn}}</mat-icon> -->
                </a>

                <a class="manuales-actions__btn manuales-actions__btn--2 my-button btn-underline" target="_blank" [href]="manuales.btns[1].url" rel="noopener noreferrer">
                    {{manuales.btns[1].titleBtn}}
                    <!-- <mat-icon aria-hidden="false" color="primary" aria-label="Example icon">{{manuales.btns[1].iconBtn}}></mat-icon> -->
                </a>
 
               </div>
            </div>

    
        </div>
    </div>
</div>