<div class="pt-32">
    <div class="max-w-5xl mx-auto gap-6 py-8 animate-slide-in-bottom">
      
        <nav class="text-brand-gray gap-2 flex px-4 lg:px-0 mb-6">
            <a routerLink="/">Inicio</a>
            <span aria-hidden="true">/</span>
            <span
                class="text-[#09f] text-ellipsis overflow-hidden w-[20ch] md:w-auto md:w-max-[32ch] whitespace-nowrap">Css
                desde 0</span>
        </nav>

           <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold text-balance text-center">
                CSS desde Cero
            </h1>
        <div
            class="mt-6 relative sm:border sm:border-slate-300/20 dark:sm:border-slate-700/60 md:rounded-[30px] before:w-1/2 before:absolute before:h-[120%] before:left-1/2 before:top-0 before:-translate-x-1/2 before:md:rounded-full before:bg-white/20 md:before:bg-white/10 before:-z-10 before:blur-3xl after:h-full after:absolute after:w-full after:from-10% after:to-50% after:bg-gradient-to-tr after:from-indigo-100/30 dark:after:from-blue-900/10 after:-z-10 after:to-transparent after:left-0 after:top-0 after:pointer-events-none before:pointer-events-none col-[1/2] row-[2/3] after:md:rounded-[30px]">
            <img src="assets/img/plataforma-servicios.webp" alt="image" class="mx-auto"/>
        </div>


        <div class="mt-8 max-w-4xl mx-auto">
            <p class="text-slate-700/80 dark:text-white/70">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque rerum,
                iusto ipsum at aliquid magnam illo, possimus suscipit veritatis
                inventore numquam ab facere voluptates in atque doloremque non dolorem
                aliquam. Dolor, cum. Molestias quod aliquid amet beatae. Nihil
                laboriosam ut deserunt optio quasi sapiente maxime nulla? Recusandae
                quae at et expedita vero debitis, dignissimos perferendis incidunt!
                Veniam unde suscipit earum? Totam voluptatibus officiis molestiae
                voluptate facere temporibus, cum quaerat, accusamus, laborum velit hic.
                Rem similique qui nihil inventore recusandae et vero! Omnis eveniet
                debitis sunt adipisci totam vitae, accusamus quos. Ab, possimus dicta
                aperiam modi ullam quae minima quibusdam est qui quam laborum
                repudiandae maxime, similique dignissimos molestias neque iste, enim
                quasi earum libero tempore? Maiores tempore ipsum deserunt asperiores!
            </p>
        </div>

        <div class="px-4 lg:px-0">
            <section class="bg-box border sm:border sm:border-slate-300/50 dark:sm:border-slate-700/60 rounded-3xl p-5 flex flex-col gap-4">
                <h3 class="text-lg md:text-xl font-bold">El curso incluye:</h3>
            </section>
        </div>
    </div>
</div>