
<button aria-label="Example icon button with a arrow up" class="scroll-btn cursor-pointer fixed bottom-2 right-4 lg:right-16 z-10 w-10 h-10 leading-10 text-white flex items-center justify-center bg-red-600 dark:bg-blue-600 rounded-md transition-transform duration-500 ease-in-out"  [ngClass]="{'opacity-100 pointer-events-auto visible translate-y-0': activeScroll(), 'opacity-0 pointer-events-none invisible -translate-y-full': !activeScroll()}" (click)="gotoTop()">
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
</svg>

  </button>
