<main class="flex-grow flex items-center justify-center relative p-6 mt-24">
<!-- Abstract Background Pattern -->
<div class="absolute inset-0 pointer-events-none overflow-hidden">
<div class="absolute top-1/2 left-1/4 size-80 bg-blue-300/10 rounded-full blur-[100px] -translate-x-1/2 -translate-y-1/2"></div>
<div class="absolute bottom-1/4 right-1/4 size-80 bg-blue-300/5 rounded-full blur-[120px] translate-x-1/2 translate-y-1/2"></div>
</div>
<div class="max-w-3xl w-full flex flex-col items-center justify-center relative z-10 text-center">
<!-- Hero 404 -->
<div class="relative mb-6">
<h1 class="glow-text text-[150px] md:text-[200px] font-bold leading-none text-primary dark:text-blue-500 tracking-tighter select-none">
                    404
                </h1>
<!-- Small decorative element -->
<div class="absolute -top-2 -right-2 text-slate-300 dark:text-slate-600 opacity-50 rotate-12 -z-1">
<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-14 text-gray-500 " viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M13.181 8.68a4.503 4.503 0 0 1 1.903 6.405m-9.768-2.782L3.56 14.06a4.5 4.5 0 0 0 6.364 6.365l3.129-3.129m5.614-5.615 1.757-1.757a4.5 4.5 0 0 0-6.364-6.365l-4.5 4.5c-.258.26-.479.541-.661.84m1.903 6.405a4.495 4.495 0 0 1-1.242-.88 4.483 4.483 0 0 1-1.062-1.683m6.587 2.345 5.907 5.907m-5.907-5.907L8.898 8.898M2.991 2.99 8.898 8.9"/></svg>
</div>
</div>
<!-- Message Block -->
<div class="space-y-4 max-w-xl mx-auto mb-10">
<h2 class="text-3xl md:text-4xl font-bold tracking-tight text-slate-700 dark:text-white">
                    Pagina no encontrada
                </h2>
<p class="leading-relaxed">
¡Uy! Parece que te has salido del mapa. La página que buscas no existe, se ha movido o no está disponible temporalmente.
</p>
</div>

<!-- Primary Action -->
<div class="flex flex-col sm:flex-row gap-4 items-center justify-center mb-16">
<a class="h-10 px-6 flex items-center justify-center text-white bg-primary dark:bg-blue-600 text-background-dark font-bold text-sm rounded-full hover:bg-primary/90 dark:hover:bg-blue-700 transition-all transform hover:scale-105 shadow-lg shadow-primary/20 dark:shadow-blue-300/20" routerLink="/">
                    Ir a la pagina principal
                </a>
<a class="h-10 px-6 flex items-center justify-center bg-slate-200 dark:bg-white/10 text-slate-900 dark:text-white font-medium text-sm rounded-full hover:bg-slate-300 dark:hover:bg-white/20 transition-all" href="#">
                    Contactar a soporte
                </a>
</div>
<!-- Helpful Links Footer -->

</div>
</main>