<div class="montos mb-3">
    <div class="montos__container container">
        <span class="badge montos__badge headline-5">montos para depositos</span>
        <h2 class="montos__h2 headline-2">{{monto.title}}</h2>
       
        <div class="montos-box">
        <div class="montos-content">
            <h3 class="montos-content__span headline-4 head-4">{{monto.subtitle}}</h3>
            <h3 class="montos-content__h3 headline-3">{{monto.subtitle2}}</h3>
      
    
            <p class="montos-content__p body-1">
                <strong class="body-1 keyword__strong">¡Venta de recargas electrónicas</strong> al alcance de tu negocio con un depósito mínimo de $100! En <span class="body-1 keyword__compani">Recargas Electrónicas</span>
                    {{monto.description}}
            </p>
        </div>

        <div class="montos-right img-custom">
            <img [src]="monto.img" class="montos-right__img" loading="lazy" width="440" height="550" [alt]="monto.label">
        </div>
    </div>
</div>  
</div>