<section class="banner-plataformas animate-slide-in-bottom mt-28 lg:mt-0">
    <div
        class="banner-plataformas__container container flex items-center justify-center mx-auto mt-20 pt-4 shadow rounded-lg">
        <picture>
            <source media="(min-width:1536px)" [srcset]="
          isDark()
            ? 'assets/img/producto-recargas-web_dark.webp'
            : 'assets/img/producto-recargas-web_light.webp'
        " type="image/webp" />

            <source media="(min-width:340px)" [srcset]="
          isDark()
            ? 'assets/img/producto-recargas-mobile_dark.webp'
            : 'assets/img/producto-recargas-mobile_light.webp'
        " type="image/webp" />

            <img width="1539" height="385" alt="Pagaqui plataforma para la venta de recargas electrónicas para negocios"
                [src]="
          isDark()
            ? 'assets/img/producto-recargas-web_dark.webp'
            : 'assets/img/producto-recargas-web_light.webp'
        " class="banner-plataform w-full h-auto" />
        </picture>
    </div>
</section>

<section data-aos="zoom-in-up" class="container mx-auto my-20">
    <app-product-carousel [products]="carouselRecargas"></app-product-carousel>
</section>

<section class="relative features mb-20 px-4 sm:px-6 lg:px-8">
    <div class="container mx-auto relative overflow-hidden">
        <div data-aos="fade-up" class="section-title max-w-4xl w-full mx-auto text-center pb-10">
            <h1 class="text-4xl lg:text-5xl font-bold mb-4  bg-clip-text text-transparent bg-gradient-to-r from-primary to-rose-600 dark:from-gray-300 dark:to-indigo-600 lg:leading-[1.1]">
                Venta de recargas Telcel, Bait con Recarga5g.com
            </h1>

            <p>
                Si tienes un negocio, ¡conviértete en un punto de venta autorizado!
                Ofrece a tus clientes la posibilidad de recargar su saldo, pagar
                servicios y comprar pines electrónicos, aumentando así su fidelidad y
                tus ganancias.
            </p>
        </div>

        <!-- Highlighted boxes -->
        <div class="section-content relative">
            <!-- Blurred shape -->
            <div
                class="shape opacity-30 blur-2xl left-2/4 translate-x-2/4 absolute pointer-events-none bottom-0 -mb-20">
                <svg xmlns="http://www.w3.org/2000/svg" width="434" height="427">
                    <defs>
                        <linearGradient id="bs2-a" x1="19.609%" x2="50%" y1="14.544%" y2="100%">
                            <stop offset="0%" stop-color="#6366F1"></stop>
                            <stop offset="100%" stop-color="#6366F1" stop-opacity="0"></stop>
                        </linearGradient>
                    </defs>
                    <path fill="url(#bs2-a)" fill-rule="evenodd" d="m346 898 461 369-284 58z"
                        transform="translate(-346 -898)"></path>
                </svg>
            </div>

            <!-- grid -->
            <div class="grid-content grid grid-cols-12 gap-6 max-w-7xl mx-auto">
                <!-- box 1 -->
                <article data-aos="fade-up" class="col-span-12 relative shadow shadow-red-100 dark:shadow-blue-300/20 rounded-3xl">
                    <div
                        class="p-1 overflow-hidden relative h-full before:content-[''] before:absolute before:pointer-events-none before:blur-[100px] before:rounded-full before:opacity-20 before:size-72 before:-top-48 before:left-4 before:bg-purple-500 dark:before:bg-blue-500">
                        <div class="overflow-hidden h-full z-[7] opacity-100 relative">
                            <div class="flex flex-col lg:flex-row items-center justify-between">
                                <!-- Radial gradient -->
                                <div aria-hidden="true"
                                    class="radial absolute  flex items-center justify-center h-full -z-10 -translate-x-2/4 translate-y-2/4 aspect-square left-2/4 bottom-0 pointer-events-none">
                                    <div class="blur-[160px] opacity-10 rounded-full absolute bg-blue-500 inset-0">
                                    </div>
                                    <div class="blur-2xl opacity-10 bg-blue-400 rounded-full size-1/4 absolute"></div>
                                </div>

                                <!-- text -->
                                <div class="p-8 w-full max-w-[480px] order-0 shrink-0">
                                    <div
                                        class="font-medium text-sm py-[0.375rem] px-4 text-slate-100 rounded-lg md:text-center bg-slate-800 dark:bg-slate-700 shadow-sm inline-flex items-center gap-2 mb-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="m6.115 5.19.319 1.913A6 6 0 0 0 8.11 10.36L9.75 12l-.387.775c-.217.433-.132.956.21 1.298l1.348 1.348c.21.21.329.497.329.795v1.089c0 .426.24.815.622 1.006l.153.076c.433.217.956.132 1.298-.21l.723-.723a8.7 8.7 0 0 0 2.288-4.042 1.087 1.087 0 0 0-.358-1.099l-1.33-1.108a1.122 1.122 0 0 0-.905-.245l-1.17.195a1.125 1.125 0 0 1-.98-.314l-.295-.295a1.125 1.125 0 0 1 0-1.591l.13-.132a1.125 1.125 0 0 1 1.3-.21l.603.302a.809.809 0 0 0 1.086-1.086L14.25 7.5l1.256-.837a4.5 4.5 0 0 0 1.528-1.732l.146-.292M6.115 5.19a9 9 0 1 0 11.065-.55m-11.065.55A8.965 8.965 0 0 1 12 3c1.929 0 3.716.607 5.18 1.64"/></svg>
                                        <span> compañias de telefonía en méxico </span>
                                    </div>
                                    <h3 class="font-bold text-3xl pb-1  bg-clip-text text-transparent bg-gradient-to-r from-primary to-rose-600 dark:from-gray-300 dark:to-indigo-600 leading-[1.1]">
                                        Recargas nacionales
                                    </h3>
                                    <p>
                                        Con Recarga5g.com, puedes vender recargas electrónicas para
                                        todas las compañías telefónicas en México, incluyendo
                                        Telcel, Movistar, AT&T, Unefon y más. ¡Nunca te quedarás sin
                                        opciones para tus clientes!
                                    </p>

                                    <div class="mt-8">
                                        <a routerLink="/registro" class="inline-flex items-center text-sm justify-center px-4 py-2.5 font-medium bg-gray-800 dark:bg-blue-400/10 text-white rounded shadow-md hover:bg-gray-900 focus:shadow-outline focus:outline-none">Registrarme</a>
                                    </div>
                                </div>
                                <!-- img -->
                                <div class="image">
                                    <img src="assets/img/feature-image-01.webp" width="304" height="339"
                                        alt="Venta de recargas electrónicas para tu negocio" loading="lazy" />
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <!-- box 2 -->
                <article data-aos="fade-right"
                    class="col-span-12 lg:col-span-7 bg-blue-100/40 dark:bg-transparent rounded-3xl relative overflow-hidden p-8 flex flex-col shadow shadow-red-100 dark:shadow-blue-300/20">
                  
                    <div
                        class="font-medium text-sm py-[0.375rem] px-4 text-slate-100 rounded-lg md:text-center bg-slate-800 dark:bg-slate-700 shadow-sm max-w-[200px] inline-flex items-center gap-2 mb-2">
                        <span> Flexible y sencillo de usar </span>
                    </div>
                    <div class="circle-shape-wrapper absolute bottom-0 left-0 pointer-events-none -z-1"
                        aria-hidden="true">
                        <div
                            class="circle-shape blur-[160px] opacity-30 bg-gradient-to-tr from-blue-500 to-blue-500/30 rounded-full size-80 -z-0">
                        </div>
                    </div>

                    <div class="max-w-[480px] mb-6">
                        <h3 class="text-2xl  bg-clip-text text-transparent bg-gradient-to-r from-primary to-rose-600 dark:from-gray-300 dark:to-indigo-600 font-semibold mb-2">
                            ¿Qué necesito para vender recargas electrónicas en mi negocio?
                        </h3>
                        <p class="mb-6">
                            Puedes vender recargas en tu negocio desde tu equipo de trabajo:
                            Smartphone, tablet, computadora o bien vía SMS gratuita.
                        </p>

                        <p class="mb-6">
                            Ya sea que necesites recargar tu saldo Telcel, pagar tus servicios
                            básicos o busques una oportunidad de negocio rentable, en
                            <strong>recarga5g.com</strong>. ¡Explora nuestros productos!
                        </p>

                        <ul class="list pb-8">
                            <li class="pb-4">1. Registrate totalmente gratis</li>
                            <li class="pb-4">
                                2.- Espera nuestro correo con tus datos de acceso
                            </li>
                            <li class="pb-4">3.- Ingresar a la plataforma</li>

                            <li class="pb-4">
                                4.- Realiza una inversión minima de $100, a cualquier de las
                                cuentas bancarias autorizadas
                            </li>

                            <li class="pb-4">
                                5.- Listo asi de facil! podras empezar a vender recargas telcel
                                y mas compañias en tu negocio
                            </li>
                        </ul>
                    </div>
                </article>
                <!-- box 3 -->
                <article
                    data-aos="fade-left"
                    class="col-span-12 lg:col-span-5 rounded-3xl p-8 relative overflow-hidden z-[3] shadow shadow-red-100 dark:shadow-blue-300/20">

                    <div aria-hidden="true"
                        class="translate-y-2/4 -translate-x-2/4 left-2/4 bottom-0 w-2/4 opacity-30 aspect-square absolute pointer-events-none -z-10">
                        <div class="blur-[160px] bg-indigo-500 rounded-full absolute inset-0"></div>
                    </div>

                    <div
                    class="font-medium text-sm py-[0.375rem] px-4 text-slate-100 rounded-lg md:text-center bg-slate-800 dark:bg-slate-700 shadow-sm inline-flex items-center gap-2 mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                    class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M12 6v12m-3-2.818.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                  </svg>
                    <span> Comisiones atractivas </span>
                </div>
                    <h3 class="text-2xl  bg-clip-text text-transparent bg-gradient-to-r from-primary to-rose-600 dark:from-gray-300 dark:to-indigo-600 font-semibold mb-2">
                        Genera ganancias extras vendiendo recargas telcel y mas compañias
                    </h3>
                    <p class="mb-4">
                        Nuestros servicios incluyen la venta de tiempo aire Telcel y el
                        cobro por pago de servicios, diseñados para brindarte comodidad,
                        rapidez y seguridad en cada transacción
                    </p>
                    <div class="companies">
                        <img src="assets/img/feature-image-02.webp"
                            alt="Para todo tipo de dispositos la plataforma ideal" />
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<section data-aos="fade-up" class="beneficios mb-20">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 relative">
        
        <div class="circle-shape-wrapper -z-10 absolute top-16 left-2/4 pointer-events-none -translate-x-2/4" aria-hidden="true">
            <div
              class="circle-shape blur-[160px] opacity-25 bg-gradient-to-tr from-blue-500 to-blue-100 rounded-full size-80">
            </div>
          </div>
      
          <div class="circle-shape-wrapper -z-10 absolute bottom-20 left-10 pointer-events-none" aria-hidden="true">
            <div
              class="circle-shape blur-[160px] opacity-25 bg-gradient-to-br from-blue-500 to-purple-400 rounded-full size-80">
            </div>
          </div>
          
        <div class="section-title max-w-2xl mb-12">
          
            <div
            class="font-medium text-sm py-[0.375rem] px-4 text-slate-100 rounded-lg md:text-center bg-slate-800 dark:bg-slate-700 shadow-sm inline-flex items-center gap-2 mb-1">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15a2.25 2.25 0 0 1 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0 1 18 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3 1.5 1.5 3-3.75"/></svg>          
            <span> registro facil y sin costo alguno </span>
           </div>

            <h4 class=" bg-clip-text text-transparent bg-gradient-to-r from-primary to-rose-600 dark:from-gray-300 dark:to-indigo-600 font-semibold text-3xl pb-4">
                Beneficios de vender recargas electrónicas
            </h4>
            <p class="">
                comienza a ganar dinero desde hoy. Las recargas electrónicas son un
                servicio esencial para millones de personas, y tú puedes ser parte de
                este mercado en crecimiento.
            </p>
        </div>

        <div class="beneficios-list mb-10">
            <div class="beneficios-row">
                <h5 class=" bg-clip-text text-transparent bg-gradient-to-r from-primary to-rose-600 dark:from-gray-300 dark:to-indigo-600 text-lg mb-4 font-semibold">
                    Plataforma de recargas segura y estable
                </h5>

                <ul
                    class="beneficios-ul grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 border-slate-500/20 dark:border-slate-600/50 border-b pb-6">
                    <li>
                        <div class="flex flex-row gap-2 mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m21 7.5-9-5.25L3 7.5m18 0-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" />
                            </svg>
                            <h6 class="font-semibold text-lg">Amplia cobertura</h6>
                        </div>
                        <p>
                            Recargas para todas las compañías telefónicas, incluyendo Telcel,
                            Movistar, AT&T, Unefon y más.
                        </p>
                    </li>
                    <li>
                        <div class="flex flex-row gap-2 mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
                            </svg>
                            <h6 class="font-semibold text-lg">Confianza y seguridad</h6>
                        </div>
                        <p>
                            Somos una plataforma confiable con años de experiencia, con mas de
                            20 años en el mercado.
                        </p>
                    </li>
                    <li>
                        <div class="flex flex-row gap-2 mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                            <h6 class="font-semibold text-lg">
                                Sin penalizaciones ni anualidades
                            </h6>
                        </div>
                        <p>
                            Tu decides cuando y como recargar saldo, sin penalizaciones ni
                            anualidades
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="beneficios-list mb-10">
            <div class="beneficios-row">
                <h5 class=" bg-clip-text text-transparent bg-gradient-to-r from-primary to-rose-600 dark:from-gray-300 dark:to-indigo-600 text-lg mb-4 font-semibold">Comisiones atractivas</h5>

                <ul
                    class="beneficios-ul grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 border-slate-500/20 dark:border-slate-600/50 border-b pb-6">
                    <li>
                        <div class="flex flex-row gap-2 mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 6v12m-3-2.818.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                            <h6 class="font-semibold text-lg">Comisiones hasta un 7.8%</h6>
                        </div>
                        <p>
                            Te ofrecemos las mejores comisiones adaptadas a tu negocio y
                            necesidaddes.
                        </p>
                    </li>
                    <li>
                        <div class="flex flex-row gap-2 mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
                            </svg>
                            <h6 class="font-semibold text-lg">
                                Afilia a tus interesados y genera gananacias extras
                            </h6>
                        </div>
                        <p>
                            Recibe el pago como
                            <strong>comision de tiempo aire</strong> cuando tu, como
                            distribuidor, o tus afiliados compran tiempo aire.
                        </p>
                    </li>
                    <li>
                        <div class="flex flex-row gap-2 mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-6" viewBox="0 0 512 512">
                                <path
                                    d="M376 144c-3.92 52.87-44 96-88 96s-84.15-43.12-88-96c-4-55 35-96 88-96s92 42 88 96z"
                                    fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="32" />
                                <path
                                    d="M288 304c-87 0-175.3 48-191.64 138.6-2 10.92 4.21 21.4 15.65 21.4H464c11.44 0 17.62-10.48 15.65-21.4C463.3 352 375 304 288 304z"
                                    fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32" />
                                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="32" d="M88 176v112m56-56H32" />
                            </svg>
                            <h6 class="font-semibold text-lg">
                                Genera ganancias por tus puntos de ventas
                            </h6>
                        </div>
                        <p>
                            Recibiras una comisión extra a tu portal cuando tus puntos de
                            venta realicen pago de recargas electrónicas
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="beneficios-list">
            <div class="beneficios-row">
                <h5 class=" bg-clip-text text-transparent bg-gradient-to-r from-primary to-rose-600 dark:from-gray-300 dark:to-indigo-600 text-lg mb-4 font-semibold">Constante innovación</h5>

                <ul
                    class="beneficios-ul grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 border-slate-500/20 dark:border-slate-600/50 border-b pb-6">
                    <li>
                        <div class="flex flex-row gap-2 mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z" />
                            </svg>
                            <h6 class="font-semibold text-lg">
                                Recargas, pago de servicios y pines para tu negocio
                            </h6>
                        </div>
                        <p>
                            Nuestra plataforma es intuitiva y accesible desde cualquier
                            dispositivo. No necesitas ser un experto en tecnología para
                            empezar a vender recargas y gestionar tu red de afiliados.
                        </p>
                    </li>
                    <li>
                        <div class="flex flex-row gap-2 mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Z" />
                            </svg>
                            <h6 class="font-semibold text-lg">+200 compañias de servicios</h6>
                        </div>
                        <p>
                            Recibe el pago de cualquier servicio: Agua, luz, internet y mucho
                            mas.
                        </p>
                    </li>
                    <li>
                        <div class="flex flex-row gap-2 mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15a2.25 2.25 0 0 1 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0 1 18 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3 1.5 1.5 3-3.75" />
                            </svg>
                            <h6 class="font-semibold text-lg">
                                + mas compañias conforme a demanda
                            </h6>
                        </div>
                        <p>
                            Constantemente estamos agregando mas compañias de telefonia y
                            servicios conforme a demanda
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="relative sale mb-20">
    <div class="sale-container container mx-auto relative overflow-hidden px-4 sm:px-6 lg:px-8">
        <div class="hidden lg:block absolute top-0 left-0 -z-[1]" aria-hidden="true">
            <svg width="793" height="1000" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M72.634 1C51.254 30.5 7.035 111.8 3.148 153c-4.86 51.5-3.615 119.627 26.24 186.5 78.909 176.752 314.874 122.5 463.078 145 103.937 15.779 173.12 38.363 234.698 115.5 67.056 84 79.624 180.667 49.077 283.5-39.359 132.5-140.429 191-258.993 266.5-125.302 79.79-445.1 159.5-445.1 159.5"
                    stroke="#999" stroke-dasharray="7 7" />
            </svg>
        </div>

        <section data-aos="fade-right" class="sale-row flex flex-col lg:flex-row max-w-7xl mx-auto lg:space-x-4 mb-20 relative">
            <div  class="sale-col w-full lg:w-1/2">
           
                <div
                class="font-medium text-sm py-[0.375rem] px-4 rounded-md bg-slate-800 dark:bg-slate-700 text-slate-100 shadow-sm inline-flex items-center gap-2 mr-auto lg:mx-auto">
             
                <span>
                    Vende de donde quieras
                </span>
          
              </div>
                <h3 class="text-3xl  bg-clip-text text-transparent bg-gradient-to-r from-primary to-rose-600 dark:from-gray-300 dark:to-indigo-600 font-semibold mb-4">
                    ¿Qué necesito para vender recargas en mi negocio?
                </h3>
                <p class="mb-4">
                    Emprender en la <strong>venta de recargas electrónicas</strong> es una
                    excelente oportunidad para generar ingresos de forma sencilla y sin
                    grandes inversiones. Con nuestro sistema, puedes vender recargas desde
                    cualquier medio disponible: SMS gratuito, página web o aplicación
                    móvil, adaptándose a tus necesidades y las de tus clientes.
                </p>
                <!-- <p>Ya sea a través de SMS gratuito, una página web o una aplicación móvil, te brindamos las herramientas necesarias para que comiences a generar ingresos de manera rápida y sencilla.</p> -->

                <ul class="mt-4">
                    <li class="p-2 lg:p-4 flex">
                        <span
                            class="why-sell-icon w-12 h-12 inline-flex items-center justify-center rounded-full bg-red-100 text-red-600 dark:bg-indigo-100 dark:text-indigo-600 mb-4 shrink-0">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M8.625 9.75a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 0 1 .778-.332 48.294 48.294 0 0 0 5.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
                            </svg>
                        </span>

                        <div class="grow pl-6">
                            <h4 class="grow font-semibold">
                                Venta de recargas sms gratuito
                            </h4>
                            <p class="text-sm text-slate-700 dark:text-slate-300 leading-relaxed">
                                Ideal para quienes no tienen acceso a internet. Tus clientes
                                pueden solicitar recargas enviando un mensaje de texto.
                            </p>
                        </div>
                    </li>

                    <li class="p-2 lg:p-4 flex">
                        <span
                            class="why-sell-icon w-12 h-12 inline-flex items-center justify-center rounded-full bg-red-100 text-red-600 dark:bg-indigo-100 dark:text-indigo-600 mb-4 shrink-0">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M3 8.25V18a2.25 2.25 0 0 0 2.25 2.25h13.5A2.25 2.25 0 0 0 21 18V8.25m-18 0V6a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 6v2.25m-18 0h18M5.25 6h.008v.008H5.25V6ZM7.5 6h.008v.008H7.5V6Zm2.25 0h.008v.008H9.75V6Z" />
                            </svg>
                        </span>

                        <div class="grow pl-6">
                            <h4 class="grow font-semibold">
                                Plataforma web para venta de tiempo aire
                            </h4>
                            <p class="text-sm text-slate-700 dark:text-slate-300 leading-relaxed">
                                Ideal para quienes no tienen acceso a internet. Tus clientes
                                pueden solicitar recargas enviando un mensaje de texto.
                            </p>
                        </div>
                    </li>

                    <li class="p-2 lg:p-4 flex">
                        <span
                            class="why-sell-icon w-12 h-12 inline-flex items-center justify-center rounded-full bg-red-100 text-red-600 dark:bg-indigo-100 dark:text-indigo-600 mb-4 shrink-0">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M10.5 1.5H8.25A2.25 2.25 0 0 0 6 3.75v16.5a2.25 2.25 0 0 0 2.25 2.25h7.5A2.25 2.25 0 0 0 18 20.25V3.75a2.25 2.25 0 0 0-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
                            </svg>
                        </span>

                        <div class="grow pl-6">
                            <h4 class="grow font-semibold">
                                Aplicación venta de recargas electrónicas
                            </h4>
                            <p class="text-sm text-slate-700 dark:text-slate-300 leading-relaxed">
                                Ideal para quienes no tienen acceso a internet. Tus clientes
                                pueden solicitar recargas enviando un mensaje de texto.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="sale-col w-full lg:w-1/2 mx-auto mt-10 lg:mt-0">
             
                <div class="circle-shape-wrapper -z-10 absolute top-64 left-2/4 pointer-events-none -translate-x-2/4" aria-hidden="true">
                    <div
                      class="circle-shape blur-[160px] opacity-25 bg-gradient-to-tr from-blue-500 to-blue-100 rounded-full size-80">
                    </div>
                  </div>

                <img src="assets/img/venta-recargas-pc.webp" alt="Venta de recargas por computadora" loading="lazy" />
            </div>
        </section>

        <section data-aos="fade-left" class="sale-row flex flex-col lg:flex-row max-w-7xl mx-auto lg:space-x-4">
            <div class="sale-col w-full lg:w-1/2 order-2 lg:order-1 mt-10 lg:mt-0">
                <img class="mx-auto" src="assets/img/requesitos-venta-recargas.webp" alt="Venta de tiempo aire"
                    loading="lazy" />
            </div>
            <div class="sale-col w-full lg:w-1/2 order-1 lg:order-2 relative">

                <div class="circle-shape-wrapper -z-10 absolute bottom-32 left-10 pointer-events-none" aria-hidden="true">
                    <div
                      class="circle-shape blur-[160px] opacity-40 bg-gradient-to-br from-blue-500 to-purple-400 rounded-full size-50">
                    </div>
                </div>

                    <div
                    class="font-medium text-sm py-[0.375rem] px-4 rounded-md bg-slate-800 dark:bg-slate-700 text-slate-100 shadow-sm inline-flex items-center gap-2 mr-auto lg:mx-auto">
                 
                    <span>
                       Para todos los negocios
                    </span>
              
                  </div>

                <h3 class="text-3xl  bg-clip-text text-transparent bg-gradient-to-r from-primary to-rose-600 dark:from-gray-300 dark:to-indigo-600 font-semibold mb-4">
                    Ofrece Recargas Telefónicas Tiempo Aire en tu Negocio
                </h3>
                <p class="lg:pl-6 mb-6">
                    Puedes ofrecer recargas telefónicas de tiempo aire a tus clientes,
                    convirtiendo tu local en un punto de venta exitoso. Las recargas
                    electrónicas son un servicio esencial para millones de personas, y al
                    incluirlas en tu negocio, no solo generarás ganancias adicionales,
                    sino que también atraerás más clientes.
                </p>
                <p class="lg:pl-6">
                    No importa si tienes una tienda, un restaurante o un pequeño negocio,
                    ofrecer recargas telefónicas de tiempo aire con [Nombre de tu Empresa]
                    es la oportunidad que estabas esperando. ¡Convierte tu negocio en un
                    punto de venta exitoso y comienza a ganar dinero hoy mismo!
                </p>
            </div>
        </section>
    </div>
</div>

<section data-aos="zoom-in-up" class="mb-20 ganancias">
    <div class="container mx-auto relative overflow-hidden px-4 sm:px-6 lg:px-8">
        <div class="circle-shape-wrapper -z-10 absolute top-1/3 pointer-events-none left-2/4 -translate-x-2/4" aria-hidden="true">
            <div
              class="circle-shape blur-[160px] opacity-30 bg-gradient-to-br from-blue-500 to-purple-400 rounded-full size-80">
            </div>
          </div>
        <div class="ganancias-row flex flex-col lg:flex-row">
            <div class="ganancias-col w-full lg:w-1/2">
                <div
                class="font-medium text-sm py-[0.375rem] px-4 rounded-md bg-slate-800 dark:bg-slate-700 text-slate-100 shadow-sm inline-flex items-center gap-2 mr-auto lg:mx-auto">
             
                <span>
                    Comisiones ajustadas a tu necesidades
                </span>
          
              </div>
                <h2 class="text-3xl lg:text-4xl font-semibold  bg-clip-text text-transparent bg-gradient-to-r from-primary to-rose-600 dark:from-gray-300 dark:to-indigo-600">
                    Aumenta tus ganancias vendiendo recargas telcel y mas compañias en tu
                    negocio
                </h2>
                <p class="mt-4 w-full lg:max-w-2xl">
                    ¿Estás buscando una forma sencilla, rentable y de bajo riesgo para
                    incrementar tus ingresos? ¡Tenemos la solución perfecta para ti!
                    Agregar <strong>recargas Telcel y de otras compañías</strong> a tu
                    negocio es la oportunidad que estabas esperando para atraer más
                    clientes, fidelizar a los que ya tienes y, lo mejor de todo, generar
                    ganancias adicionales todos los días.
                </p>
                <p class="mt-4 w-full lg:max-w-2xl">
                    Al ofrecer este servicio en tu negocio, no solo brindas un producto de
                    alta demanda, sino que también te posicionas como un punto de
                    referencia para tus clientes.
                </p>

                <h3 class="text-3xl font-semibold  bg-clip-text text-transparent bg-gradient-to-r from-primary to-rose-600 dark:from-gray-300 dark:to-indigo-600 mt-6">
                    ¿Qué compañías puedes ofrecer?
                </h3>
                <p class="mt-4 w-full lg:max-w-2xl">
                    No solo te limites a Telcel, ¡amplía tu oferta! Puedes vender recargas
                    de todas las compañías líderes en el mercado, como:
                </p>
                <ul class="list-disc pl-4 lg:pl-8 py-6">
                    <li class="pb-4">Telcel</li>
                    <li class="pb-4">Movistar</li>
                    <li class="pb-4">AT&T</li>
                    <li class="pb-4">Pillofon</li>
                    <li class="pb-4">Bait</li>
                    <li class="pb-4">Internet del bienestar</li>
                </ul>
            </div>
            <div class="ganancias-col w-full lg:w-1/2">
                <img src="assets/img/ganancias-recargas.webp" width="700" height="700"
                    alt="Ganancias por vender recargas" />
            </div>
        </div>
    </div>
</section>

<section data-aos="zoom-in-up" class="mb-20 bg-red-700 dark:bg-blue-800">
    <div class="px-4 py-10 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-14">
        <div class="flex flex-col mb-16 sm:text-center sm:mb-0">
            <span class="mb-6 sm:mx-auto">
                <div class="flex items-center justify-center w-12 h-12 rounded-full bg-teal-accent-400">
                    <svg stroke="currentColor" viewBox="0 0 52 52" class="w-10 h-10 text-white">
                        <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none"
                            points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                    </svg>
                </div>
            </span>

            <div class="mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
                <div
                class="font-medium text-sm py-[0.375rem] px-4 rounded-md bg-slate-800 dark:bg-slate-700 text-slate-100 shadow-sm inline-flex items-center gap-2 mr-auto lg:mx-auto">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 0 0 6 3.75v16.5a2.25 2.25 0 0 0 2.25 2.25h7.5A2.25 2.25 0 0 0 18 20.25V3.75a2.25 2.25 0 0 0-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3"/></svg>
                <span>
                  registro facil y sin penalizaciones
                </span>
          
              </div>
                <h2 class="text-3xl font-semibold text-white">
                    Aprende cómo vender recargas telefónicas en tu negocio
                </h2>
                <p class="leading-relaxed text-white mt-4">
                    ¿Sabías que puedes convertir tu negocio en un punto de recargas y
                    ganar dinero extra de manera sencilla y constante? Las recargas
                    telefónicas son uno de los servicios más demandados en la actualidad,
                    y ofrecerlas en tu establecimiento no solo te ayudará a atraer más
                    clientes, sino también a aumentar tus ganancias sin esfuerzo.
                </p>

                <p class="leading-relaxed text-white mt-4 font-semibold">
                    Telcel, Bait, Unefon, Movistar, Pillofon, Virgin, Internet del
                    bienestar, Axios Mobile, AT&T, VASENTA, Macro play, Giit!, ABIB,
                    Ultracel
                </p>
            </div>
        </div>
    </div>
</section>

<section data-aos="fade-up" class="relative mb-20">
    <div class="container w-full mx-auto px-4 sm:px-6 lg:px-8 relative">
        <div class="circle-shape-wrapper -z-10 absolute top-64 left-2/4 pointer-events-none -translate-x-2/4" aria-hidden="true">
            <div
              class="circle-shape blur-[160px] opacity-25 bg-gradient-to-tr from-blue-500 to-blue-100 rounded-full size-80">
            </div>
          </div>
        <div class="vender-row flex flex-col lg:flex-row">
            <div class="vender-col w-full lg:w-1/2">
                <div
                class="font-medium text-sm py-[0.375rem] px-4 rounded-md bg-slate-800 dark:bg-slate-700 text-slate-100 shadow-sm inline-flex items-center gap-2 mr-auto lg:mx-auto">
             
                <span>
                    La mejor plataforma para tu negocio
                </span>
          
              </div>
                <h3 class="text-3xl font-semibold  bg-clip-text text-transparent bg-gradient-to-r from-primary to-rose-600 dark:from-gray-300 dark:to-indigo-600 mb-4">
                    ¿Porque Recarga5g.com es la opción ideal para vender tiempo aire
                    telcel en tu negocio?
                </h3>
                <p>
                    No importa si tienes una tienda, un restaurante o un pequeño negocio,
                    con <strong>Recarga5g.com</strong> puedes vender recargas desde
                    cualquier equipo de trabajo y aumentar tus ingresos de manera fácil y
                    segura. ¡Únete a nosotros y comienza a ganar dinero hoy mismo!
                </p>
                <ul class="mt-8">
                    <li class="flex gap-2 pb-6">
                        <span class="text-red-600 dark:text-indigo-400">✔</span>
                        <p>
                            <span class="font-semibold">Sin pagos forzosos</span>
                            <span> - </span>
                            <span>Ofrecemos un modelo de negocio transparente y flexible,
                                diseñado para que empieces a ganar dinero desde el primer día,
                                sin ataduras ni costos ocultos.</span>
                        </p>
                    </li>

                    <li class="flex gap-2 pb-6">
                        <span class="text-red-600 dark:text-indigo-400">✔</span>
                        <p>
                            <span class="font-semibold">Sin penalizaciones</span>
                            <span> - </span>
                            <span>Puedes dejar de usar nuestro servicio en cualquier momento sin
                                costos adicionales.</span>
                        </p>
                    </li>

                    <li class="flex gap-2 pb-6">
                        <span class="text-red-600 dark:text-indigo-400">✔</span>
                        <p>
                            <span class="font-semibold">Totalmente flexible</span>
                            <span> - </span>
                            <span>Trabaja desde cualquier lugar y en cualquier momento.</span>
                        </p>
                    </li>

                    <li class="flex gap-2 pb-6">
                        <span class="text-red-600 dark:text-indigo-400">✔</span>
                        <p>
                            <span class="font-semibold">Amplia cobertura</span>
                            <span> - </span>
                            <span>Ofrece recargas para todas las compañías telefónicas,
                                incluyendo Telcel, Movistar, AT&T y más.</span>
                        </p>
                    </li>

                    <li class="flex gap-2 pb-6">
                        <span class="text-red-600 dark:text-indigo-400">✔</span>
                        <p>
                            <span class="font-semibold">Soporte técnico</span>
                            <span> - </span>
                            <span>Te brindamos asistencia personalizada para resolver cualquier
                                duda.</span>
                        </p>
                    </li>
                </ul>

                <p class="">
                    Registrate totalmente gratis, sin compromisos ni costos ocultos.
                </p>
                <p>
                    Es un modelo de negocio claro, sencillo y rentable, diseñado para que
                    empieces a ganar dinero desde el primer día, sin complicaciones.
                </p>
            </div>
            <div class="vender-col w-full lg:w-1/2">
                <img src="assets/img/vender-recargas.webp" width="700" height="700" loading="lazy"
                    alt="Venta de recargas telefonicas para negocios" />
            </div>
        </div>
    </div>
</section>

<section class="recargas-nacionales mb-20">
    <div class="container mx-auto">
        <app-product [product]="companiesRecargas" size="max-w-3xl w-full" titleSection="Recargas electrónicas" gridStyle="grid-cols-2 lg:grid-cols-3" animateScrollClass="fade-up"/>
    </div>
</section>

<!-- ============= SECCION METODOS VENTAS ============= -->
<section class="metodos-venta mb-20">
    <div class="container mx-auto">
        <h2 class="metodos-venta__h2 text-5xl  bg-clip-text text-transparent bg-gradient-to-r from-primary to-rose-600 dark:from-gray-300 dark:to-indigo-600 font-semibold text-center mb-6 leading-[1.1]">
            ¿Cómo vender recargas telcel?
        </h2>
        <app-sales-method></app-sales-method>
    </div>
</section>

<!-- <div class="recargas-nacionales">
    <div class="recargas-nacionales__container container mx-auto">
        <div class="recargas-nacionales__left">
            <h2 class="recargas-nacionales__h2 headline-4 head-4">
                Recargas Telefónicas
            </h2>
            <h3 class="recargas-nacionales__h3 headline-3">
                Plataforma para venta de recargas 7% de comisión
            </h3>

            <p class="recargas-nacionales__p body-1 mb-1">
                ¡Descubre una oportunidad increíble para aumentar tus ingresos de manera
                fácil y segura! En nuestro sitio web, te ofrecemos la posibilidad de
                obtener hasta un 7% de comisión fija por cada recarga que vendas.
            </p>

            <p class="recargas-nacionales__p body-1 mb-1">
                Imagina la posibilidad de
                <strong class="body-1 keyword__strong">vender recargas bait</strong> y
                generar ingresos adicionales sin complicaciones, aprovechando el
                creciente mercado de las recargas. Ya sea que tengas una tienda física,
                un negocio en línea o simplemente quieras explorar una nueva fuente de
                ingresos, ¡nuestra plataforma es perfecta para ti!
            </p>

            <div class="recargas-nacionales__actions mb-1">
                <a class="recargas-nacionales__a radius-20" mat-raised-button color="primary"
                    routerLink="/registro">Registrarme ahora</a>
                <a class="recargas-nacionales__a my-button btn-underline" routerLink="/plataforma/pagaqui">Consultar
                    plataformas
                   
                </a>
            </div>
        </div>

        <div class="recargas-nacionales__right">
            <img src="assets/img/caja-recargas.png" class="recargas-nacionales__img"  width="633" height="633" loading="lazy" alt="Recargas nacionales con Recarga5g.com"/>
        </div>
    </div>
</div> -->

<!-- ============= SECCION REGISTRO RECARGAS ============= -->
 <section class="container mx-auto">
    <h2 class="text-3xl lg:text-5xl leading-[1.1] text-center font-semibold  bg-clip-text text-transparent bg-gradient-to-r from-primary to-rose-600 dark:from-gray-300 dark:to-indigo-600">Registro para vender recargas electrónicas</h2>
     <app-register-steps></app-register-steps>
 </section>

 <app-doubts title="Ayuda para vender recargas" text="Si aun tienes dudas de como vender recargas electrónicas, o requieres asesoria personalizada, no dudes ponerte en contacto con nosotros" link="https://api.whatsapp.com/send?phone=5212205073975&text=%C2%A1Hola%20Recargas%20Electr%C3%B3nicas!%20%2C%20necesito%20mas%20info%20para%20vender%20recargas%20en%20mi%20negocio%F0%9F%91%8B"></app-doubts>