@import "tailwindcss";
@plugin '@midudev/tailwind-animations';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
      --font-inter: "Inter Variable", sans-serif;
  --color-primary: oklch(56.62% 0.2233 22.94);
}


/* @media screen and (max-width: 767px) {
  [data-aos] {
    opacity: 1 !important;
    transform: none !important;
    transition: none !important;
  }
} */

button, a {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}