<div class="blog-container flex-grow container mx-auto px-4 sm:px-6 lg:px-8 py-8 mt-32">
  <div class="max-w-4xl mx-auto">
    <div class="blog-title mb-12 text-center">
      <span class="text-primary dark:text-blue-400 font-semibold">Lee nuestro blog</span>
      <h1 class="text-4xl md:text-5xl font-bold mt-2 text-text-light dark:text-text-dark">
        Explora nuestros articulos
      </h1>
      <p class="mt-4 text-lg text-subtext-light dark:text-subtext-dark">
        Mantente informado acerca de la tecnologia y mas
      </p>
    </div>
    <div class="blog-search mb-12">
      <div class="relative mb-6">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-4 text-gray-500 dark:text-gray-400">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
          </svg>
        </div>
        <input type="text" id="input-group-1"
          class="bg-gray-50 border placeholder-gray-500 outline-0 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Buscar articulo" />
      </div>
    </div>
    <section class="blog-featured-posts">
      <h2 class="text-2xl font-bold mb-6">Artículos Destacados</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        @if (loadingState().featuredPosts === 'LOADING') { @for(_ of [1,2,3]; track _) {

        <div class="skeleton-post animate-pulse">
          <div class="rounded-lg mb-4 overflow-hidden">
            <div class="skeleton-post-img w-full h-48 bg-slate-300 dark:bg-slate-700"></div>
          </div>
          <div class="skeleton-title w-5/6 h-8 bg-slate-300 dark:bg-slate-700 rounded-lg overflow-hidden"></div>

          @for (_ of [1,2,3,4]; track _) {
          <div class="skeleton-info overflow-hidden w-11/12 h-4 bg-slate-300 dark:bg-slate-700 mt-4 mb-2"></div>
          }
        </div>
        }
        }
        @if (loadingState().featuredPosts === 'SUCESS') {

        @for (featurePost of signalData().featuredPosts.items; track $index) {

        <article class="group">
          <a [routerLink]="['/mas/blog/post', featurePost.slug]" [queryParams]="{id: featurePost.id}">
            <div class="overflow-hidden rounded-lg mb-4">
              <img [alt]="featurePost.headerImage?.title"
                class="w-full h-48 object-cover group-hover:scale-105 transition-transform duration-300"
                [src]="featurePost.headerImage?.url" [alt]="featurePost.headerImage?.title" />
            </div>
            <h3 class="text-lg font-semibold mb-2 group-hover:text-primary dark:group-hover:text-sky-400">
              {{featurePost.title}}
            </h3>
          </a>
          <!-- <p class="text-sm text-muted-light dark:text-muted-dark">
          
         </p> -->
        </article>
        }

        }
      </div>
    </section>

    <section class="blog-categories mt-12">
      <h2 class="text-2xl font-bold mb-6">Categorías</h2>
      <div class="flex flex-wrap gap-3">

        @if (loadingState().tags === 'LOADING') {
        @for (_ of [1,2,3,4, 5,6]; track _) {
        <div
          class="skeleton-category overflow-hidden w-11/12 h-8 bg-slate-300 dark:bg-slate-700  mb-2 max-w-48 animate-pulse">
        </div>
        }

        }

        @if(loadingState().tags === 'SUCESS') {
        @for (category of signalData().tags.items; track $index) {
        <a class="px-4 py-2 rounded-full bg-primary/10 text-primary hover:bg-primary/20 text-sm font-medium transition-colors dark:bg-blue-400/10 dark:text-blue-400 dark:hover:bg-blue-400/20"
          routerLink="">{{category.name |slice: 1}}
        </a>
        }
        }
      </div>
    </section>

    <div class="blog-recent-posts mt-12">
      <h2 class="text-2xl font-bold mb-6">Artículos Recientes</h2>
      <div class="space-y-8">
        @for (currentPost of signalData().currentPosts.items | paginate: config; track currentPost.id;) {
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 items-center">
          <div class="md:col-span-2">
            <!-- <p class="text-sm text-primary dark:text-blue-400 font-medium mb-1">
              tecnologia
            </p> -->
            <h3 class="text-xl font-bold mb-2">
              {{currentPost.title}}
            </h3>
            <p class="text-muted-light dark:text-muted-dark">
              {{currentPost.summary}}
            </p>
          </div>
          <img [alt]="currentPost.headerImage?.title" class="w-full h-40 object-cover rounded-lg"
            [src]="currentPost.headerImage?.url" />
        </div>
        }

      </div>
    </div>

    <div class="blog-pagination mt-8 sm:flex sm:flex-1 sm:items-center sm:justify-between">
      <div>
        <p class="text-sm dark:text-gray-300">
          Mostrando
          <span class="font-medium">{{paginationBlog?.getCurrent() || 1}}</span>
          /
          <span class="font-medium">{{paginationBlog?.getLastPage() || 1}}</span>
          de
          <span class="font-medium">{{paginationBlog?.getTotalItems() || 0}}</span>
          resultados
        </p>
      </div>
      <pagination-template #paginationBlog="paginationApi" [id]="config.id!" (pageChange)="config.currentPage = $event"
        (pageBoundsCorrection)="config.currentPage = $event">

        <div class="custom-pagination flex items-center gap-2 select-none">

          <div class="pagination-previous" [class.opacity-50]="paginationBlog.isFirstPage()">
            @if (!paginationBlog.isFirstPage()) {
            <button type="button" aria-label="Página anterior" (click)="paginationBlog.previous()"
              class="px-3 py-2 rounded-md hover:bg-gray-200 dark:hover:bg-gray-700">
              <span class="sr-only">Anterior</span>
              <!-- ícono izq -->
              <svg viewBox="0 0 20 20" fill="currentColor" class="size-5" aria-hidden="true">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" />
              </svg>
            </button>
            }
          </div>

          @for (page of paginationBlog.pages; track page.value) {
          <!-- [class.current]="paginationBlog.getCurrent() === page.value" -->
          <div>
            @if (paginationBlog.getCurrent() !== page.value) {
            <button type="button" (click)="paginationBlog.setCurrent(page.value)"
              class="px-3 py-2 rounded-md hover:bg-gray-200 dark:hover:bg-gray-700">
              <span>{{ page.label }}</span>
            </button>
            } @else {
            <span class="bg-primary dark:bg-blue-500/30 text-white px-4 py-2 rounded-md">
              {{ page.label }}
            </span>
            }
          </div>
          }

          <div class="pagination-next" [class.opacity-50]="paginationBlog.isLastPage()">
            @if (!paginationBlog.isLastPage()) {
            <button type="button" aria-label="Página siguiente" (click)="paginationBlog.next()"
              class="px-3 py-2 rounded-md hover:bg-gray-200 dark:hover:bg-gray-700">
              <!-- ícono der -->
              <svg viewBox="0 0 20 20" fill="currentColor" class="size-5" aria-hidden="true">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" />
              </svg>
            </button>
            }
          </div>

        </div>
      </pagination-template>
    </div>

  </div>
</div>