<section class="py-20">
    <h2 class="mb-2 lg:mb-12 text-center font-sans text-4xl lg:text-5xl font-bold">Las mejores terminales para tu negocio<span class="text-red-500 dark:text-blue-600">.</span></h2>
    <div class="mx-auto grid container grid-cols-1 gap-8 p-6 md:grid-cols-2 lg:grid-cols-3">
   
        <article class="rounded-xl bg-slate-50 dark:bg-slate-700 p-3 shadow-lg hover:shadow-xl relative transition-transform ease-out duration-500 hover:-translate-y-3 ">
            <div class="absolute top-0 right-0 bg-red-600 dark:bg-blue-600 text-white px-2 py-1 m-2 rounded-md text-sm font-medium">Oferta
            </div>
            <div>
              <div class="relative flex items-end overflow-hidden rounded-xl">
                <img src="assets/img/terminales/terminal-go.webp" class="mx-auto" width="300" height="300" alt="Terminal punto de venta GO" loading="lazy">
              
              </div>
      
              <div class="p-2">
                <h2 class="font-semibold text-xl">Terminal Go</h2>
                <p class="text-slate-500 dark:text-slate-300 mt-1 line-through">$250</p>
                <span class="text-lg font-bold text-red-700 dark:text-sky-400">$199</span>
                <div class="mt-3 flex items-end justify-between">
                    <a href="https://www.mercadolibre.com.mx/terminal-pagaqui-go-getnet-roja-acepta-todas-las-tarjetas/up/MLMU3163716931"
                      target="_blank"
                     rel="noopener noreferrer"
                     class="text-white cursor-pointer w-[90%] mx-auto text-center font-semibold bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Comprar ahora</a>
                </div>
              </div>
    
              <div class="mt-4">
                <ul class="features">
                    <li class="flex items-center gap-[10px] mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z"/></svg>
                       
                       <span class="text-sm">
                        Acepta tarjetas de débito, crédito, vales y wallets.
                       </span> 
    
                    </li>
    
                    <li class="flex items-center gap-[10px] mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M3 8.25V18a2.25 2.25 0 0 0 2.25 2.25h13.5A2.25 2.25 0 0 0 21 18V8.25m-18 0V6a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 6v2.25m-18 0h18M5.25 6h.008v.008H5.25V6ZM7.5 6h.008v.008H7.5V6Zm2.25 0h.008v.008H9.75V6Z"/></svg>                   
                       <span class="text-sm">
                        Incluye cuenta Pagaqui.
                       </span> 
    
                    </li>
    
                    
                    <li class="flex items-center gap-[10px] mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M8.288 15.038a5.25 5.25 0 0 1 7.424 0M5.106 11.856c3.807-3.808 9.98-3.808 13.788 0M1.924 8.674c5.565-5.565 14.587-5.565 20.152 0M12.53 18.22l-.53.53-.53-.53a.75.75 0 0 1 1.06 0Z"/></svg>
                       
                       <span class="text-sm">
                        Incluye plan de datos.
                       </span> 
                    </li>
    
                    <li class="flex items-center gap-[10px] mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 0 0 6 3.75v16.5a2.25 2.25 0 0 0 2.25 2.25h7.5A2.25 2.25 0 0 0 18 20.25V3.75a2.25 2.25 0 0 0-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3"/></svg>
                       
                       <span class="text-sm">
                        Cobros fáciles con tu celular.

                       </span> 
                    </li>
    

                    <li class="flex items-center gap-[10px] mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z"/></svg>
                       
                       <span class="text-sm">
                        Recibos por e-mail y SMS.
                       </span> 
                    </li>
    
                       <li class="flex items-center gap-[10px] mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/></svg>
                       
                       <span class="text-sm">
                        Gana atractivas comisiones por cada venta que realices 
                       </span> 
                    </li>
                </ul>
              </div>
            </div>
          </article>

          <article class="rounded-xl bg-slate-50 dark:bg-slate-700 p-3 shadow-lg hover:shadow-xl relative transition-transform ease-out duration-500 hover:-translate-y-3 ">
            <div class="absolute top-0 right-0 bg-red-600 dark:bg-blue-600 text-white px-2 py-1 m-2 rounded-md text-sm font-medium">Oferta
            </div>
            <div>
              <div class="relative flex items-end overflow-hidden rounded-xl">
                <img src="assets/img/terminales/terminal-super.webp" class="mx-auto" alt="Terminal punto de venta super" width="300" height="300" loading="lazy">
              
              </div>
      
              <div class="p-2">
                <h2 class="font-semibold text-xl">Terminal Súper</h2>
                <p class="text-slate-500 dark:text-slate-300 mt-1 line-through">$750</p>
                <span class="text-lg font-bold text-red-700 dark:text-sky-500">$699</span>
                <div class="mt-3 flex items-end justify-between">
                    <a href="https://www.mercadolibre.com.mx/terminal-super-inalambrica-y-datos-bluetooth-contactless/up/MLMU3163733557"
                      target="_blank"
                     rel="noopener noreferrer"
                     class="text-white cursor-pointer w-[90%] mx-auto text-center font-semibold bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Comprar ahora</a>
                </div>
              </div>
    
              <div class="mt-4">
                <ul class="features">
                    <li class="flex items-center gap-[10px] mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z"/></svg>
                       
                       <span class="text-sm">
                        Acepta tarjetas de débito, crédito, vales y wallets.
                       </span> 
    
                    </li>
    
                    <li class="flex items-center gap-[10px] mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M3 8.25V18a2.25 2.25 0 0 0 2.25 2.25h13.5A2.25 2.25 0 0 0 21 18V8.25m-18 0V6a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 6v2.25m-18 0h18M5.25 6h.008v.008H5.25V6ZM7.5 6h.008v.008H7.5V6Zm2.25 0h.008v.008H9.75V6Z"/></svg>                   
                       <span class="text-sm">
                        Incluye cuenta digital Pagaqui e interfaz de ventas.
                       </span> 
    
                    </li>
    
                    
                    <li class="flex items-center gap-[10px] mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M8.288 15.038a5.25 5.25 0 0 1 7.424 0M5.106 11.856c3.807-3.808 9.98-3.808 13.788 0M1.924 8.674c5.565-5.565 14.587-5.565 20.152 0M12.53 18.22l-.53.53-.53-.53a.75.75 0 0 1 1.06 0Z"/></svg>
                       
                       <span class="text-sm">
                        Incluye plan de datos y WiFi.
                       </span> 
                    </li>
    
                    <li class="flex items-center gap-[10px] mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z"/></svg>
                       
                       <span class="text-sm">
                        Recibos impresos, por e-mail y SMS.
                       </span> 
                    </li>
    
                       <li class="flex items-center gap-[10px] mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/></svg>
                       
                       <span class="text-sm">
                        Gana atractivas comisiones por cada venta que realices 
                       </span> 
                    </li>
                </ul>
              </div>
            </div>
          </article>

        <article class="rounded-xl bg-slate-50 dark:bg-slate-700 p-3 shadow-lg hover:shadow-xl relative transition-transform ease-out duration-500 hover:-translate-y-3 ">
        <div class="absolute top-0 right-0 bg-red-600 dark:bg-blue-600 text-white px-2 py-1 m-2 rounded-md text-sm font-medium">Oferta
        </div>
        <div>
          <div class="relative flex items-end overflow-hidden rounded-xl">
            <img src="assets/img/terminales/terminal-max.webp" class="mx-auto" width="300" height="300" alt="Terminal punto de venta MAX" loading="lazy" />
          
          </div>
  
          <div class="p-2">
            <h2 class="font-semibold text-xl">Terminal Max</h2>
            <p class="text-slate-500 dark:text-slate-300 mt-1 line-through">$2,200</p>
            <span class="text-lg font-bold text-red-700 dark:text-sky-400">$1,199</span>
            <div class="mt-3 flex items-end justify-between">
                <a href="https://www.mercadolibre.com.mx/terminal-max-wifi-datos-imprime-contactless-sin-renta/up/MLMU3169310212"
                      target="_blank"
                     rel="noopener noreferrer"
                class="text-white cursor-pointer w-[90%] mx-auto text-center font-semibold bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Comprar ahora</a>
            </div>
          </div>

          <div class="mt-4">
            <ul class="features">
                <li class="flex items-center gap-[10px] mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z"/></svg>
                   
                   <span class="text-sm">
                    Acepta tarjetas de débito, crédito, vales y wallets.
                   </span> 

                </li>

                <li class="flex items-center gap-[10px] mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M3 8.25V18a2.25 2.25 0 0 0 2.25 2.25h13.5A2.25 2.25 0 0 0 21 18V8.25m-18 0V6a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 6v2.25m-18 0h18M5.25 6h.008v.008H5.25V6ZM7.5 6h.008v.008H7.5V6Zm2.25 0h.008v.008H9.75V6Z"/></svg>                   
                   <span class="text-sm">
                    Incluye cuenta digital Pagaqui e interfaz de ventas.
                   </span> 

                </li>

                
                <li class="flex items-center gap-[10px] mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M8.288 15.038a5.25 5.25 0 0 1 7.424 0M5.106 11.856c3.807-3.808 9.98-3.808 13.788 0M1.924 8.674c5.565-5.565 14.587-5.565 20.152 0M12.53 18.22l-.53.53-.53-.53a.75.75 0 0 1 1.06 0Z"/></svg>
                   
                   <span class="text-sm">
                    Incluye plan de datos y WiFi.
                   </span> 
                </li>

                <li class="flex items-center gap-[10px] mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z"/></svg>
                   
                   <span class="text-sm">
                    Recibos impresos, por e-mail y SMS.
                   </span> 
                </li>

                   <li class="flex items-center gap-[10px] mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/></svg>
                   
                   <span class="text-sm">
                    Gana atractivas comisiones por cada venta que realices 
                   </span> 
                </li>
            </ul>
          </div>
        </div>
      </article>
  

    </div>
  </section>
  